{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
    <title>My Portfolio</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
  </head>
  <body>
    <section class="text">
      <nav>
        <div class="logo">My Portfolio</div>
        <ul>
          <li><a href="/">HOME</a></li>
          <li><a href="#about">ABOUT</a></li>
          <li><a href="#services">SERVICES</a></li>
          <li><a href="#skills">SKILLS</a></li>
          <li><a href="#contact">HIRE ME</a></li>
        </ul>
      </nav>
      <div class="container">
        <div class="details">
          <h1>I'm <span>Rojita</span> Lamichhane</h1>
          <p>
            This is my official Portfolio website to show all my experinces in
            <span><b>Web Development</b></span>
          </p>
          <a href="#">DOWNLOAD CV</a>
        </div>
        <div class="images">
          <img
            src="{% static 'images/shape.png' %}"
            width="400px"
            height="450px"
            alt="shape"
            class="shape"
          />
          <img
            src="{% static 'images/mynewpicture.png' %}"
            alt="myprofilepic"
            class="profilepic"
          />
        </div>
      </div>
    </section>

   <section class="About" id="about">
      <div class="about-container">
        <h2 class="title">About Me</h2>
        <div class="container1">
          <div class="col-left">
            <img src="{% static 'images/girl.jpg' %}" alt="girl" />
          </div>
          <div class="col-right">
            <div class="content">
              I'm Rojita and I'm a <span>Web Developer</span>
            </div>
            <p>
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nam
              harum autem ab accusantium dolorem perferendis ipsam enim
              exercitationem eaque vel iure ipsum alias eos, nemo reprehenderit
              corporis at quaerat veniam expedita quia esse, ducimus sed!
              Tenetur saepe ut nobis aliquid voluptatum pariatur reprehenderit,
              maiores necessitatibus nemo mollitia officiis amet cum labore
              rerum esse id repellendus earum tempora quia omnis obcaecati,
              ipsum totam laborum dolore? Iste illo minus eum tempore alias vero
              facere odio aut autem voluptas maxime enim aliquid a, similique
              dolorem ullam eius labore odit dolorum suscipit quia. Aliquid
              deleniti quos ipsum, suscipit assumenda dignissimos fugiat nemo
              quidem error excepturi dolores, reiciendis eaque sed iure ea
              possimus quaerat voluptatum ipsam quis, pariatur minima unde.
              Saepe exercitationem iusto voluptatem. Veritatis, quisquam.
              Praesentium ad, soluta sapiente quos dolorum saepe dolorem nostrum
              cupiditate odit blanditiis porro non, corporis itaque, distinctio
              commodi harum. Sint rem culpa distinctio earum. Repellat, eius.
              Nihil quam quas quaerat expedita facilis modi a, doloribus fugiat
              distinctio quidem debitis assumenda ipsam maxime hic reprehenderit
              sequi dolores obcaecati id dolorum quos odit? Corrupti neque
              perspiciatis placeat aperiam libero repudiandae sequi sed et, vero
              recusandae nemo possimus consequatur itaque ea assumenda omnis
              tempore ducimus illum, delectus atque deleniti similique commodi
              alias!
            </p>
          </div>
        </div>
      </div>
    </section> 

    <!--services part-->
    <section class="Services" id="services">
      <div class="service-container">
        <h2 class="title">MY SERVICES</h2>
        <div class="container3">
          <div class="card">
            <div class="box">
              <i class="fa fa-paint-brush"></i>
              <div class="text3">Web Design</div>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex distinctio rerum minima quis voluptatum asperiores voluptate dolor vitae nobis. Voluptate quae veniam pariatur totam impedit, et tempora quasi qui ea in, doloremque inventore, accusantium molestias esse! Excepturi quo dicta repellendus deserunt qui. Maiores qui quaerat voluptates nam magni quos incidunt.
              </p>
            </div>
          </div>

          <div class="card">
            <div class="box">
              <i class="fa fa-laptop"></i>
              <div class="text3">Backend Development</div>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex distinctio rerum minima quis voluptatum asperiores voluptate dolor vitae nobis. Voluptate quae veniam pariatur totam impedit, et tempora quasi qui ea in, doloremque inventore, accusantium molestias esse! Excepturi quo dicta repellendus deserunt qui. Maiores qui quaerat voluptates nam magni quos incidunt.
              </p>
            </div>
          </div>

        <div class="card">
          <div class="box">
            <i class="fa fa-cogs"></i>
            <div class="text3">QA Automation</div>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex distinctio rerum minima quis voluptatum asperiores voluptate dolor vitae nobis. Voluptate quae veniam pariatur totam impedit, et tempora quasi qui ea in, doloremque inventore, accusantium molestias esse! Excepturi quo dicta repellendus deserunt qui. Maiores qui quaerat voluptates nam magni quos incidunt.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
    </section> 


    <!--Skill section starts-->
    <section class="skills" id="skills">
      <div class="skill-container">
        <h2 class="title">MY SKILLS</h2>
        <div class="skill-content">
          <div class="column-left">
            <div class="text4">My skill and experinces</div>
              <p>
               Lorem ipsum dolor sit amet consectetur adipisicing elit. In rem voluptates fuga amet nulla animi explicabo consequatur, nesciunt dignissimos, dicta quas, ea commodi eligendi libero! Temporibus quo aperiam, doloribus maiores itaque culpa aspernatur nam quos impedit illo quibusdam quidem numquam minima modi sunt ipsam cum. Modi nihil laboriosam vitae, molestias tempore sapiente? Reprehenderit omnis eius optio dolores temporibus aut beatae!atur, nesciunt dignissimos, dicta quas, ea commodi eligendi libero!maiores itaque culpa aspernatur nam quos impedit illo quibusdam quidem numquam minima modi sunt ipsam cum. Modi nihil laboriosam vitae, molestias tempore sapiente? Reprehenderit omnis eius optio dolores temporibus aut beatae!atur, nesciunt dignissimos, dicta quas, ea commodi eligendi libero!
              </p>
              <a href="#"">Read more</a>
            </div>
            <div class="column-right">
              <div class="bars">
                <div class="info">
                  <span>HTML</span>
                  <span>90%</span>
                </div>
                <div class="line html"></div>
              </div>
              <div class="bars">
                <div class="info">
                  <span>CSS</span>
                  <span>60%</span>
                </div>
                <div class="line css"></div>
              </div>
              <div class="bars">
                <div class="info">
                  <span>JAVASCRIPT</span>
                  <span>40%</span>
                </div>
                <div class="line js"></div>
              </div>
              <div class="bars">
                <div class="info">
                  <span>PYTHON</span>
                  <span>60%</span>
                </div>
                <div class="line python"></div>
              </div>
              <div class="bars">
                <div class="info">
                  <span>MYSQL</span>
                  <span>50%</span>
                </div>
                <div class="line mysql"></div>
              </div>
            </div>
          </div>
          </div>
        </section>


        <!--contact section starts-->
        <section class="contact" id="contact">
          <div class="max-width">
            <h2 class="title">Contact me</h2>
            <div class="contact-parent">
             <div class="contact-content">
               <div class="text5">Get In Touch</div>
               <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus animi doloribus voluptate repellendus commodi quos quod voluptates totam, autem praesentium dolore quia fugiat quae est saepe a. Nesciunt distinctio quibusdam, rerum, facilis cumque cum sint minima voluptatem nemo sit delectus! Ad esse quae accusantium aliquam facilis architecto beatae voluptatem sed?</p>
               <div class="icons">
                 <div class="row">
                  <i class="fa fa-user"></i>
                  <div class="info">
                    <div class="head">Name</div>
                    <div class="sub-title">Rojita Lamichhane</div>
                  </div>
                 </div>

                 <div class="row">
                  <i class='fa fa-address-card'></i>
                  <div class="info">
                    <div class="head">Address</div>
                    <div class="sub-title">Nuwakot, Nepal</div>
                  </div>
                 </div>

                 <div class="row">
                  <i class="fa fa-envelope"></i>
                  <div class="info">
                    <div class="head">Email</div>
                    <div class="sub-title">rojitalamichhane11@gmail.com</div>
                  </div>
                 </div>

          
               </div>

             </div>
             <div class="form">
               <form action="#">
                 <h3>Message me</h3>
                 <div class="form-parent">
                 <input type="text" name="name" placeholder="Name" class="name">
                 <input type="email" name="name" placeholder="Email" class="email">
                 </div>
                 <input type="text" name="subject" placeholder="Subject">
                 <input type="textarea" name="description" placeholder="description">
                 <button type="button">Send message</button>
               </form>
             </div>
          </div>
        </div>

        </section>

  </body>
</html>
